.metadata
.idea
*.manifest
*.cache
*~
*.DS_Store
*.swp

# IDE project files
/nbproject/

# Build files
build/

src/test/testeverything/EverythingAddtests.hpp
src/test/testeverything/EverythingHeaders.hpp

# /
/.gdb_history
