.metadata
.idea
*.manifest
*.cache
*~
*.DS_Store
*.swp
*.pyc
*.pkl

# Coverage files 
.coverage
htmlcov/

# IDE project files
/nbproject/
.vscode
.ycm_extra_conf.py

# KDevelop
.kdev4
nupic.core.kdev4

# Eclipse project files
.cproject
.project
.settings/language.settings.xml

# Build files
build/
junit-test-results.xml

# Test Output files
bindings/py/tests/*.stream

# /
/.gdb_history

# Doxygen generated doc
html/
