.metadata
.idea
*.manifest
*.cache
*~
*.DS_Store
*.swp

# IDE project files
/nbproject/

# Build files
build/

# /
/.gdb_history

# Doxygen generated doc
html/

# SWIG
src/bindings/*.cxx
src/bindings/*.py
src/bindings/*.pyc
src/bindings/*.so
src/bindings/proto/*.capnp
