#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 0.3.0.{build}

branches:
  only:
    - master

  except:
    - gh-pages

environment:
  matrix:
    # Must add CLang, or GCC
    # i.e. - COMPILER_FAMILY: GNU
    - COMPILER_FAMILY: MSVC
      DEPLOY_TO_NUGET: 0
      DEPLOY_BUILD: 0

skip_commits:
  # Add [av skip] to commit messages to skip AppVeyor building
  # Add [ci skip] to skip Travis and AppVeyor building
  message: /\[av skip\]/ 

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# Operating system (build VM template)
os: Visual Studio 2015 CTP

init:
  - git config --global core.autocrlf input

clone_folder: c:\projects\nupic-core
clone_depth: 50
shallow_clone: true

#---------------------------------#
#       build configuration       #
#---------------------------------#

nuget:
  account_feed: true
  project_feed: true
  disable_publish_on_pr: true     # disable publishing of .nupkg artifacts to
                                  # account/project feeds for pull request builds

configuration: Release

install:
  - set REPO_DIR=c:\projects\nupic-core
  - set NUPIC_DEPLOYMENT_BUILD=1

  - mkdir %REPO_DIR%\build\
  - mkdir %REPO_DIR%\build\release
  - mkdir %REPO_DIR%\build\scripts
  - cd %REPO_DIR%\build\scripts

  # Need at least version 3.1.0 for the VS 2015 generator
  - ps: Start-FileDownload 'http://www.cmake.org/files/v3.1/cmake-3.1.0-win32-x86.zip'
  - ps: Write-Host '7z x cmake-3.1.0-win32-x86.zip'
  - ps: Start-Process -FilePath "7z" -ArgumentList "x -y cmake-3.1.0-win32-x86.zip" -Wait -Passthru
  - set PATH="%REPO_DIR%\build\scripts\cmake-3.1.0-win32-x86\bin";%PATH%
  - set PATH="C:\Program Files (x86)\MSBuild\14.0\Bin";%PATH%

  - cd %REPO_DIR%\build\scripts
  - set EXT_LIBS=%REPO_DIR%\external\windows64\lib
  - cmake %REPO_DIR%\src
     -G "Visual Studio 14 2015 Win64" -Wno-dev
     -DCMAKE_BUILD_TYPE=Release 
     -DCMAKE_INSTALL_PREFIX=..\Release
     -DLIB_STATIC_APR1_LOC=%EXT_LIBS%\apr-1.lib
     -DLIB_STATIC_APRUTIL1_LOC=%EXT_LIBS%\aprutil-1.lib
     -DLIB_STATIC_YAML_CPP_LOC=%EXT_LIBS%\yaml-cpp.lib
     -DLIB_STATIC_YAML_LOC=%EXT_LIBS%\yaml.lib
     -DLIB_STATIC_Z_LOC=%EXT_LIBS%\z.lib
     -DLIB_STATIC_CAPNP_LOC=%EXT_LIBS%\capnp.lib
     -DLIB_STATIC_KJ_LOC=%EXT_LIBS%\kj.lib

build_script:
  - cd %REPO_DIR%\build\scripts

  - ps: >-
      $root = $env:APPVEYOR_BUILD_FOLDER

      $versionStr = $env:APPVEYOR_BUILD_VERSION

      Write-Host $root

      Write-Host "Setting Package.nuspec version tag to $versionStr"

      $content = (Get-Content $root\Package.nuspec) 

      $content = $content -replace '\$version\$',$versionStr

      $content | Out-File $root\Package.nuspec

  - set MSBuildLogger="C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
  - set MSBuildOptions=/v:m /p:Configuration=Release /logger:%MSBuildLogger%

  - msbuild %MSBuildOptions% nupic_core.sln
  - set MSBuildOptions=/v:q /p:Configuration=Release /logger:%MSBuildLogger%
  - msbuild %MSBuildOptions% INSTALL.vcxproj

test: off

after_build:
  - cd %REPO_DIR%\build\release
  - set PROJECT_BUILD_ARTIFACTS_DIR=%REPO_DIR%\build\artifacts

  - ps: >-
      if($env:DEPLOY_TO_NUGET -eq 1) {
        copy $env:REPO_DIR\Package.nuspec .

        nuget pack -version $env:APPVEYOR_BUILD_VERSION

        nuget push *.nupkg 30618afb-ecf6-4476-8e61-a5b823ad9892
        # NOTE: Push to nuget is here, rather than normal AV deployment

      }

      # This packages via CMakeList CPack settings (Tar.Gzip for SW upload)
      # msbuild $env:MSBuildOptions PACKAGE.vcxproj

      7z a -ttar -y -bd nupic_core-$env:APPVEYOR_REPO_COMMIT-Windows64.tar .

      7z a -tgzip -y -bd ..\..\nupic_core-$env:APPVEYOR_REPO_COMMIT-Windows64.tar.gz nupic_core-$env:APPVEYOR_REPO_COMMIT-Windows64.tar

artifacts:
  - path: '**\*.tar.gz' # find all Gz(ip) packages recursively

deploy:
  # Amazon S3 deployment provider settings
  - provider: S3
    access_key_id:
      secure: AKIAIGHYSEHV3WFKOWNQ
    secret_access_key:
      secure: qBtFVXdym4SmRUkpLSe7ISd2txresJXSdhQnlqFN/uOdzxrRTeL8FKUD1vgQDa1S9jhiyHXMVFiA65Q7JpSvNA==
    bucket: "artifacts.numenta.org"
    region: us-west-2
    set_public: true
    artifact: "nupic_core-$(APPVEYOR_REPO_COMMIT)-Windows64.tar.gz"
    folder: "numenta/nupic.core"
    on:
      branch: master