/**
 * <code>
 * 
 * taken from Github.com stylesheets
 */
code {
  margin: 0;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 0;
}

code, pre.fragment, em {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 12px;
}

code:before, code:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
