#See http://www.pip-installer.org/en/latest/requirements.html for details
## for python bindings (in /bindings/py/)
numpy>=1.12.1
pytest>=3.0.7
pytest-cov>=2.5.0
## for python code (in /py/)
hexy>=1.4.3 # for grid cell encoder
